.button {
  background-color: var(--primary);
  padding: 9px 20px 9px 20px;
  border-radius: 4px;
  color: var(--light-100);
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
  transition: var(--short);
}

.button:hover {
  background-color: var(--primary-hover);
}

.button > span {
  pointer-events: none;
}

.button > svg {
  width: 15px;
  height: 15px;
  color: var(--light-100);
  pointer-events: none;
}

.button_icon {
  padding-left: 17px;
}

.button_secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.button_secondary:hover {
  background-color: var(--secondary-hover);
}
