.button {
  background-color: var(--primary);
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  color: var(--light-100);
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
}

.button > span {
  pointer-events: none;
}

.button > svg {
  width: 15px;
  height: 15px;
  color: var(--light-100);
  pointer-events: none;
}

.button_icon {
  padding: 10px 20px 10px 17px;
}

.button_secondary {
  background-color: var(--secondary);
  color: var(--primary);
}
