.check_menu {
  background-color: var(--light-100);
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  border-radius: 4px;
  font-size: var(--fs-12);
  font-family: "Roboto", sans-serif;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: var(--elevation-100);
  top: 50%;
  left: 50%;
  pointer-events: none;
  user-select: none;
  opacity: 0;
}
