.dropdown_container {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  font-size: var(--fs-14);
  display: flex;
  align-items: center;
  background-color: var(--light-100);
  border: 0px solid var(--outline);
  border-radius: 4px;
  padding: 8px 10px 8px 12px;
  box-shadow: var(--elevation-000);
}

.dropdown > span {
  margin: 0;
  padding: 0;
  margin-right: 7px;
  pointer-events: none;
}

.dropdown > svg {
  pointer-events: none;
  margin-left: auto;
}

.dropdown_menu {
  position: absolute;
  font-size: var(--fs-12);
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  max-height: calc(2.5em * 8);
  margin-top: 10px;
  left: 0px;
  box-shadow: var(--elevation-100);
  border-radius: 4px;
  background-color: var(--light-100);
  z-index: 10;
  overflow-y: scroll;

  opacity: 0;
  pointer-events: none;
}

.dropdown_menu > div {
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  display: flex;
  height: 2.5em;
}

.dropdown_menu > div:hover {
  background: var(--secondary);
  color: var(--title);
}

.dropdown_menu > div:first-child {
  border-radius: 4px 4px 0px 0px;
}

.dropdown_menu > div:last-child {
  border-radius: 0px 0px 4px 4px;
}
