.slider {
  --slider-color: var(--secondary);
  background: none;
}

.slider_value {
  width: 22px;
  height: 20px;
  font-size: var(--fs-12);
  text-align: center;
  line-height: 20px;
  margin-right: 4px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  width: 100px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 2px;
  background: var(--slider-color);
}
input[type="range"]::-webkit-slider-thumb {
  border: 3px solid var(--primary);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--light-100);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 2px;
  background: var(--slider-color);
}
input[type="range"]::-moz-range-thumb {
  border: 3px solid var(--primary);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--light-100);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--primary);
  border-radius: 2px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--secondary);
  border-radius: 2px;
}
input[type="range"]::-ms-thumb {
  border: 3px solid var(--primary);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--light-100);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--primary);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--secondary);
}
