html,
body {
  background-color: var(--light-100);
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  margin-bottom: 0px;
}

#main_text {
  text-align: center;
  margin-bottom: 25px;
  color: var(--title);
}

#main_text > h1::selection {
  color: var(--primary);
  background: var(--secondary);
}

#main_text > h1::moz-selection {
  color: var(--primary);
  background: var(--secondary);
}

#main_text > h1 {
  font-size: var(--fs-32);
  font-weight: 600;
  margin-top: 0px;
}

#main_text > div::selection {
  background: var(--secondary);
}

#main_text > div::moz-selection {
  background: var(--secondary);
}

#main_text > div {
  font-size: var(--fs-20);
  margin-bottom: 5px;
}

#title {
  margin-bottom: 8px;
}

#tools {
  font-size: var(--fs-14);
  color: var(--text);
}

#options_bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

#options {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 75%;
}

#dropdowns {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.dropdown_container {
  flex: 1;
}

#font_size_container {
  margin-right: 2px;
  display: flex;
  align-items: center;
  gap: 6px;
  user-select: none;
  white-space: nowrap;
}

#line_numbers_container {
  user-select: none;
  white-space: nowrap;
}

#upload_button {
  margin-left: auto;
}

#code_input_container {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: var(--light-200);
  font-size: var(--fs-14);
}

#delete_button {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  padding: 4.5px;
  color: var(--icon);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  user-select: none;
  transition: var(--short);
}

#delete_button:hover {
  color: var(--primary);
}

#resize_area {
  width: 100%;
  height: 10px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  right: 0px;
  cursor: ns-resize;
}

#code_input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: transparent;
  color: var(--text);
  padding: 14px;
  overflow: auto;
  resize: none;
  border: none;
  outline: 2px solid var(--outline);
  outline: none;
}

#code_input:focus {
  outline: 2px solid var(--primary);
  outline: none;
  color: var(--title);
  border: none;
}

#code_input::selection {
  background: var(--secondary);
}

#code_input::moz-selection {
  background: var(--secondary);
}

#prism_master_container {
  width: 100%;
  min-height: 42px;
  height: fit-content;
  border-radius: 4px;
  margin-top: 5px;
  position: relative;
  border: none;
  margin-bottom: 0px;
  outline: 2px solid var(--outline);
  outline: none;
}

#refresh_button {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  padding: 5.5px;
  color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  transition: var(--short);
}

#prism_output_container {
  width: 100%;
  min-height: 42px;
  height: fit-content;
  border-radius: 4px;
  border: none;
  margin-bottom: 0px;
  overflow: scroll;
  cursor: text;
  line-height: 1.5em;
}

#prism_output {
  display: inline-block;
  border: none;
  margin-bottom: 0px;
  width: 100%;
  min-height: 42px;
  height: fit-content;
  border-radius: 4px;
  font-family: Monaco, Menlo, "Courier New", Consolas, "Droid Sans Mono", "Inconsolata", monospace;
}

#download_bar {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

#drop_area_text {
  pointer-events: none;
}

/*
#editor_container {
  width: 100%;
  user-select: none;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
*/

#editor {
  background-color: var(--light-100);
  width: fit-content;
  height: fit-content;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  box-shadow: var(--elevation-000);
  margin-right: auto;
  cursor: pointer;
}

.editor_icon {
  width: 24px;
  height: 24px;
  padding: 5px;
  color: var(--icon);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--short);
}

.editor_icon > path {
  pointer-events: none;
  transition: var(--short);
}

#bold_icon,
#italic_icon,
#unerline_icon {
  padding: 5.25px;
}

#coloring_icon {
  padding: 4.5px;
}

#background_dim {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: var(--medium);
}

#download_progress_container {
  position: absolute;
  background-color: var(--light-100);
  border-radius: 4px;
  width: 40%;
  min-width: 350px;
  aspect-ratio: 5 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--elevation-200);
  padding: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  z-index: 10;
  transition: var(--medium);
}

#download_title {
  color: var(--title);
  font-size: var(--fs-16);
  font-weight: 500;
}

#download_info {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
}

#download_info > svg {
  color: var(--primary);
  width: 30px;
  height: 30px;
}

#download_progress {
  width: 100%;
}

#progress_file_text {
  color: var(--title);
  font-size: var(--fs-12);
  margin-bottom: 6px;
  padding-left: 1px;
}

#progress_bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--secondary);
  overflow: hidden;
}

#progress_indicator {
  width: 0%;
  height: 100%;
  background-color: var(--primary);
  transition: width var(--long);
}

.code_padding {
  padding-left: 0.5em !important;
}

.psuedo > span:before {
  content: "1";
}

.dummy {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.no_psuedo {
  user-select: none;
}
.no_psuedo::before,
.no_psuedo::after {
  display: none !important;
}

.hljs-ln-numbers {
  padding-right: 2em !important;
  text-align: right !important;
  display: none;
  width: 2em;
}

table {
  width: 100%;
}

td > span {
  pointer-events: none;
}
